*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*  BACKGROUND COLORS */

/* TEXT COLORS */
.txt-blue{
    color: blue;
}
.txt-green{
    color: green;
}

.font-cursive{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* NAVBAR HEADER */

.navbar{
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: 0 10px 28px rgba(121, 121, 121, 0.25), 0 10px 10px rgba(114, 114, 114, 0.22);
}

.navbar-brand{
    color: white;
}

.navbar-toggler-icon{
    display: flex;
    
}

.logo{
    width: 5rem;
}

.eslogan{
    display: flex;
    width: 26rem;
}

.txtEslogan{
    width: 17rem;
}

.bar{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
    display: flex;
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item > a{
    color: black;
    font-weight: bolder;
    padding: 0;
    transition: 0.5s;
}

.nav-item > a:hover{
    color: rgb(129, 129, 129);
    font-weight: bolder;
}

.circulo{
    background-color:rgb(146, 146, 146) ;
    border: 1px solid black;
    border-radius: 20rem;
    width: 1rem;
    height: 1rem;
}

/*  MAIN  */

/* CAROUSEL */
.carousel{
    margin-bottom: 4rem;
}

.carousel-item{
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-prev{
    background-color: white;
}

/* 3 FOTOS Y TEXTO */

.mision-container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.mision-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 10px;
    flex-grow: 1;
    gap: 1rem;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    box-shadow: 0 10px 28px rgba(121, 121, 121, 0.25), 0 10px 10px rgba(114, 114, 114, 0.22);
}

.mision-box > img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
}

.mision-box > h5, p{
    width: 90%;
}

/* ALCANCE INTERNACIONAL */

.texto-alcance{
    margin-left: 5%;
}

.alcance-internacional{
    margin-top: 5rem;
    width: 90%;
    height: 4rem;
    border: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    border-radius: 10px;
}

.pais-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 23px;
}

.imagen-pais{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 4rem;
    display: flex;
    align-self: center;
    background-color: red;
}

/* CORREDERA INFINITA */


.texto-corredera{
    margin-left: 5%;
    margin-bottom: 2rem;
}
.corredera{
    width: 90%;
    margin-left: 5%;
    display: flex;
    gap: 4rem;
    justify-content: center;    
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.card{
    box-shadow: 0 10px 28px rgba(121, 121, 121, 0.25), 0 10px 10px rgba(114, 114, 114, 0.22);
}
.card > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
}


/* FOOTER Y CONTACTO */

.copyright{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(197, 197, 197);
    gap: 1rem;
}

.copyright > img{
    width: 5%;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedor-footer > p{
    margin: 0;
    display: flex;
    align-self: start;
}


/* MEDIA QUERYS */

@media screen and (max-width:988px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-item{
        display: flex;
        flex-direction: row-reverse;
        gap: 3px;
        text-align: end;
    }
}


@media screen and (max-width:600px) {
    
    .container-fluid{
        display: flex;
    }

    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-item{
        display: flex;
        flex-direction: row-reverse;
        gap: 3px;
        text-align: end;
    }

    .eslogan{
        flex-direction: column;
        width: 12rem;
        gap: 0;
    }

    .font-cursive{
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    }

    .logo{
        width: 40px;
    }

    .wrapper{
        max-width: 768px;
    }

    .carousel-item {
    max-height: 280px;
  }

    .carousel-caption > h5{
        font-size: 0.8rem;
    }   

    .alcance-internacional{
    margin-top: 5rem;
    width: 90%;
    height: 15rem;
    border: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    border-radius: 10px;
    }

    .pais-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 23px;
    }   

    .imagen-pais{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 4rem;
    display: flex;
    align-self: center;
    background-color: red;
    }

    /*  CORREDERA  */

    .corredera{
    flex-wrap: wrap;
    }

    /* FOOTER */

    .copyright{
    font-size: 9px;
    }

}


